{% extends 'base.html' %}

{% load static %}

{% block title %}Fashion{% endblock %}

{% block content %}

<section class="ftco-section">
	<div class="container">
		<div class="row px-md-4">
			{% for article in articles %}
			<div class="col-md-12">
				<div class="blog-entry ftco-animate d-md-flex">
					<a href="/single/{{ article.slug }}" class="img img-2"
						style="background-image: url({{ article.image.url }});"></a>
					<div class="text text-2 pl-md-4">
						<h3 class="mb-2"><a href="{{ article.get_absolute_url }}">{{ article.name|slice:':35' }} ...</a>
						</h3>
						<div class="meta-wrap">
							<p class="meta">
								<span><i class="icon-calendar mr-2"></i>{{ article.created_at|date }}</span>
								<span><a href="{% url 'single' article.slug %}"><i class="icon-folder-o mr-2"></i>{{ article.category.name }}</a></span>
								<span><i class="icon-comment2 mr-2"></i>{{ article.comments_article.count }} Comment</span>
							</p>
						</div>
						<p class="mb-4">{{ article.description|slice:':65'|safe }} ...</p>
						<p><a href="{% url 'single' article.slug %}" class="btn-custom">Read More <span class="ion-ios-arrow-forward"></span></a></p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

{% endblock %}