{% extends 'base.html' %}

{% load static %}

{% block title %}Travel{% endblock %}

{% block content %}

<div class="col-xl-8 px-md-5 py-5">
	<div class="row pt-md-4">
		{% for article in articles %}
		<div class="col-md-12">
			<div class="blog-entry-2 ftco-animate">
				<a href="{{ article.get_absolute_url }}" class="img" style="background-image: url({{ article.image.url }});"></a>
				<div class="text pt-4">
					<h3 class="mb-4"><a href="/single/{{ article.slug }}">{{ article.name }}</a></h3>
					<p class="mb-4">{{ article.description|slice:':120'|safe }}</p>
					<div class="author mb-4 d-flex align-items-center">
						<a href="/about/" class="img" style="background-image: url({{ article.author.image.url }});"></a>
						<div class="ml-3 info">
							<span>Written by</span>
							<h3><a href="/about/">{{ article.author.get_full_name }}</a>, <span>{{ article.created_at|date }}</span></h3>
						</div>
					</div>
					<div class="meta-wrap d-md-flex align-items-center">
						<div class="half order-md-last text-md-right">
							<p class="meta">
								<span><i class="icon-eye"></i>{{ article.views }}</span>
								<span><i class="icon-comment"></i>{{ article.comments_article.count }}</span>
							</p>
						</div>
						<div class="half">
							<p><a href="{% url 'single' article.slug %}" class="btn btn-primary p-3 px-xl-4 py-xl-3">Continue Reading</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% include 'rside.html' %}

{% endblock %}